alarm-card.hidden {
	display: none !important;
}

.alarm-details {
  line-height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 0;
}
