<!-- Generated template for the AlarmCardComponent component -->
<ion-card>
		<ion-item (click)="toggleAlarm()">
	        <ion-label color="primary"><ion-icon name="ios-clock"></ion-icon> Alarm Time</ion-label>
	        <ion-label>{{alarmTime | date:'shortTime'}}</ion-label>
	      </ion-item>
		<div class="alarm-details" *ngIf="isAlarmExpanded()">
		<ion-item>
	        <ion-label color="primary" stacked>Departure Time</ion-label>
	        <ion-label>{{departureTime | date:'short'}}</ion-label>
	      </ion-item>
	      <ion-item>
	        <ion-label color="primary" stacked>Estimated Trip Duration</ion-label>
	        <ion-label>{{tripDurationString}}</ion-label>
	      </ion-item>
	      <ion-item>
	        <ion-label color="primary" stacked>Time to Get Ready</ion-label>
	        <ion-label>{{readyTimeString}}</ion-label>
	      </ion-item>
	      <ion-item>
	        <ion-label color="primary" stacked>Arrival Time</ion-label>
	        <ion-label>{{arrivalTime | date:'short'}}</ion-label>
	      </ion-item>
	      <ion-item>
	        <ion-label color="primary" stacked>Destination</ion-label>
	        <ion-label><ion-icon name="ios-home"></ion-icon> {{destination}}</ion-label>
	      </ion-item>
				<ion-item>
					<button ion-button color="primary" (click)="PresentEditAlarmModal()">Edit</button>
					<button ion-button color="danger" (click)="kill()">Delete</button>
				</ion-item>
	  </div>
</ion-card>
